<!DOCTYPE html>
<html>
<head>
  <title>ActiveCatalogue</title>
  <%= stylesheet_link_tag    "active_catalogue/application", :media => "all" %>
  <%= javascript_include_tag "active_catalogue/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
